/*Added a background image.*/
html {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOHRUF-c4JtTvW-VImzg6EB-X7fBXF8YEmi0cLW93v56S9yzW0RubK") no-repeat center fixed; 
    background-size: cover;
}

/* Changed the font-family to noto sans. Also changed the color to yellow. */
body {
  color:yellow;
  font-family: 'Noto Sans', sans-serif;
}
  
/* Removed the text shadow*/


}
/*Added an orange background. Changed the color to black.*/
.info {
  background: #ffaf1a;
  color: #383838;
 }


