/*Added a background image.*/
html {
    background: url("https://goo.gl/images/tc30Hh") no-repeat center fixed; 
    background-size: cover;
}

/* Changed the font-family to noto sans. Also changed the color to yellow. */
body {
  color:yellow;
  font-family: 'Noto Sans', sans-serif;
}
  
/* Removed the text shadow*/


}
/*Added an orange background. Changed the color to black.*/
.info {
  background: #ffaf1a;
  color: #383838;
 }


